.edgebottom {
    position : relative;
    left : 189px;
}

.edgeleft {
    position : relative;
    display: inline-block;
    top : 12px;

}

.edgeright {
    position : relative;
    display: inline-block;
    top : 12px;
}

.edgetop {
    position : relative;
    display: inline-block;
}

.inline-div {
    display: inline-block;
}


.keystonediv {
}

.keystonedivleft {
    display: inline-block;
    width: 300px;
}

.keystonedivright {
    display: inline-block;
    width: 300px;
}

.keystoneslider {
    width: 360px;
    margin: 12px;
}


.kblh {
}

.kblv { 
    position : relative;
    left : 70px;
}

.kbrh {
    position : relative;
    left : 70px;
}

.kbrv {
}


.ktlh {
}

.ktlv { 
    position : relative;
    left : 70px;
}

.ktrh {
    position : relative;
    left : 70px;
}

.ktrv {

}


#loadingImg {
    position:absolute;
    z-index:50;
    top: 0px;
    background: white;
    width:100%;
    height:100%;
}

#loadingText {
    font-size: 4em;
}

.matrixcontrol {
    display: inline-block;
}

.numberctl {
    padding-right: 20px;
}

.numberrange {
    font-size : .6em;
}


.picttb {
    padding: 4px;
 /*   display: inline-block; */
}

.pslider {
    width: 400px;
}

.ptoolbarlabel {
    display: inline-block;
    min-width: 120px;
}

#seqsortlist {
    list-style: none;
    cursor: move;
}

.stoolbarlabel {
    display: inline-block;
    min-width: 96px;
}

.swtoolbarlabel {
    display: inline-block;
    width: 80px;
}

#tabsA {
    width : 800px;
}

.tbicon {
    position: relative;
    vertical-align: middle;
    top: 0px;
}

